{% extends "todoapp/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h2>Date: <a href="{% url 'todoapp:date' date.id %}">{{ date.title|date:"d F" }}</a></h2>
{% endblock page_header %}

{% block content %}
<div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this task?</p>
      </div>
      <div class="modal-footer">
        <form action="{% url 'todoapp:delete_entry' entry.id %}" method="post">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete task</button>
        </form>
      </div>
    </div>
  </div>
</div>

<form action="{% url 'todoapp:edit_entry' entry.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">Edit task</button>
    {% endbuttons %}
</form>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">
  Delete task
</button>

{% endblock content %}
